/* Estilos gerais */
.container-principal {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #00184D;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column; /* Empilha os elementos verticalmente */
  align-items: center; /* Centraliza os elementos */
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 40px; /* Reduzido para melhorar em telas menores */
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px; /* Menos padding para dispositivos m贸veis */
  padding-bottom: 15px;
}

.titulo-header {
  font-size: 30px; /* Reduzido para caber melhor em telas pequenas */
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
}

.subtitulo-header {
  font-size: 28px; /* Reduzido para dispositivos m贸veis */
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.texto-atencao {
  font-size: 28px; /* Reduzido para telas menores */
  font-weight: bold;
  padding-top: 80px; /* Menos padding para melhor ajuste */
}

.img-header {
  width: 150px; /* Menor para dispositivos m贸veis */
  height: 150px;
}

.box-image {
  padding: 5px; /* Reduzido para um layout mais compacto */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Uma coluna em dispositivos m贸veis */
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
  padding: 20px;
}

.img-grid {
  width: 100%;
  height: auto;
}

/* Media queries para telas pequenas */
@media (max-width: 768px) {
  .titulo-header {
    font-size: 35px;
  }
  .subtitulo-header {
    font-size: 32px;
  }
  .texto-atencao {
    font-size: 32px;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}
